/*
    Bookstore - main CSS
*/

/* Header */
header {
    width: 100%;
    background-color: #232F3E;
}
body{
    overflow-x:hidden;
}
.logotype {
    color: #F2F2F2;
    margin-left: 1em;
}
.nav-menu ul {
    list-style: none;
    float: right;
    margin: 1em 2em 0 0;
}
.nav-menu ul li {
    display: inline;
    margin: 0 1em;
}
.nav-menu ul li a {
    text-decoration: none;
    font-size: 1em;
    color: white;
    font-weight: bold;
}
.search-bar {
    padding-top: 1.2em;
}
.search-font {
    float: right;
    margin-top: -34px;
    font-size: 1.35em;
    margin-left: -5px;
    padding-bottom: 5px;
    background-color: #DF9A41;
    border: 1px solid #DF9A41;
    border-radius: 0 .1em .1em 0 !important;
}
.search-icon {
    top: .2em !important;
}
.shop-card {
    font-size: 2em;
    color: white;
}


/* Banners */
.item img {
    width: 100%;
    height: 520px !important;
}

/* Content */
#content img {
    width: 70%;
}
.content-title {
    margin: 1em 2em;
    font-size: 2.1em;
    color: #232F3E;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
}


/* Hacking */
.carousel {
    position: initial !important;
}
.carousel-control {
    margin-top: 70px;
    height: 520px !important;
}