/*
    Bookstore - main CSS
*/

/* Reset */
.reset-padding {
    padding: 0 !important;
}

/* Header */
header {
    width: 100%;
    background-color: #232F3E;
    float: left;
}
.logotype {
    width: 20%;
    float: left;
}
.logotype h1 {
	font-family: 'Cinzel', serif;
    color: #F2F2F2;
    margin-left: 1em;
}
.nav-menu {
    width: 30%;
    float: right;
}
.nav-menu ul {
    float: right;
    list-style: none;
    margin: 1em 2em 0 0;
}
.nav-menu ul li {
    display: inline;
    margin: 0 1em;
}
.nav-menu ul li a {
    text-decoration: none;
    font-size: 1em;
    color: white;
    font-weight: bold;
}
.search-bar {
    width: 50%;
    float: left;
    margin-top: 1.2em;
}
.search-font {
    float: right;
    margin-top: -34px;
    font-size: 1.35em;
    margin-left: -5px;
    padding-bottom: 5px;
    background-color: #DF9A41;
    border: 1px solid #DF9A41;
    border-radius: 0 .1em .1em 0 !important;
}
.search-icon {
    top: .2em !important;
}
.shop-card {
    font-size: 2em;
    color: white;
}


/* Banners */
.fullscreen {
    width:100%;
}


/* Content */
.content {
    margin: 50px 0 70px 0;
}
.content-title {
    margin-left: 1.5em;
    font-size: 2.1em;
    color: #232F3E;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
}


/* Footer */
footer {
    background:#333;
    color:#fff;
    padding:20px 0;
    text-align:center;
}


/* Hacking */
.carousel {
    position: initial !important;
}
.carousel-control {
    margin-top: 70px;
    height: 375px !important;
}
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

/* Menu responsive */
.nav-responsive span {
    width: 30px;
    height: 5px;
    margin: 4px 0;
    display: block;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

@media(max-width: 1300px) and (min-width: 992px) {
    .search-bar {
        width: 45%;
    }
    .nav-menu {
        width: 35%;
        font-size: .9em;
    }
}

@media(max-width: 991px) and (min-width: 930px) {
    .search-bar {
        width: 45%;
    }
    .nav-menu {
        width: 35%;
        font-size: .85em;
        margin-top: .5em;
    }
}

@media(max-width: 929px) {
    .search-bar {
        width: 60%;
    }
    .nav-responsive {
        display: inline !important;
        color: white !important;
        float: right;
        margin-top: 1.2em;
        margin-right: 3em;
    }
    .nav-itens-reponsive {
        margin-left: 4em;
    }
    .nav-menu {
        display: none !important;
    }
    .search-bar input {
        height: 40px;
    }
    .search-font {
        margin-top: -40px;
        padding-top: 7px;
    }
}

@media(max-width: 900px) {
    .logotype {
        width: 10%;
        font-size: .9em;
        margin-top: .5em;
    }
    .search-bar {
        width: 50%;
        margin-left: 8em;
    }
    .content {
        margin: 0 !important;
    }
    .content-products {
        margin: 2em 0;
    }
    .content-title {
        font-size: 1.8em;
    }
}

@media(max-width: 605px) {
    .search-bar {
        width: 100%;
        float: right;
        padding: .5em !important;
    }
    .nav-responsive {
        width: 5%;
        margin: -9em 6em 0 0;
    }
}

/* Pagina SignIn.html */
#form-cad{
    float: right;
    width: 60%;

}
#form-container{
    padding-top: 10%;
}
#form-cad h1{
    color: #232F3E;
    padding-left: 30%;
    padding-top: 5%;
}
#titulo{
	font-family:'Cinzel', serif ;

}

#form-container p{
    color:#232F3E;
    padding-left: 8%;
    font-size: 1.5em;
    font-style: bold;
}
#form-container form button{
    float: right;
    padding-right: 25%;
    text-align: right;
    margin-right: 5%;
}
#cad-img{
    padding-left: 25%;
    width: 80%;
    padding-top: 15%;
}
#img-box{
    float: left;
    width: 40%;
}
#img-box div p{
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 2em;
    color: #000000;
}
#div_btn{
    width: 40%;
    float: right;
}